# dependencies
/node_modules

# production
/dist
*.vsix

# testing and coverage
/dist.test
/coverage

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# macOS
.DS_Store

# misc
npm-debug.log
yarn-error.log
