# source
/src
/.github
.gitignore
/dist/**/*.js.map

# testing and coverage
/dist.test
/coverage

# config
tsconfig*.json
.eslintrc.js
.prettierrc
.prettierignore
.editorconfig
/.vscode
/.vscode-test
